In [6]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [7]:
# Starting the pickle file from the ETR-All notebook
matched2014_rents = pd.read_pickle('INFO_PUMA')
# Use the logit model fit parameters from the pums notebook
# At the end of the pums notebook, the logit.params.index labels are cleaned to remove prefixed and brackets before pickling 
logit_params = pd.read_pickle('LOGIT_PARAM')

In [3]:
# create a mirror-index dataframe for dummy variables using the same category labels
age_grouping = {1:'PreWar',2:'PostWar',3:'PostWar',4:'PostWar',5:'PostWar',6:'PostWar',7:'PostWar',8:'Modern'}
size_grouping = {1:'Small',2:'Small',3:'Small',4:'Small',5:'Small',6:'Large',7:'Large',8:'Large',9:'Large'}
dummy_headers = ['PreWar','PostWar','Modern','Small','Large'] + matched2014_rents.groupby('PUMA').groups.keys()
dummy_df = pd.DataFrame(data=0,columns=dummy_headers,index=matched2014_rents.index)
for index, row in matched2014_rents.iterrows():    
    b_age = age_grouping[np.min([row.YBL,8])]
    dummy_df.loc[index,b_age] = 1
    b_size = size_grouping[np.min([row.BLD,9])]
    dummy_df.loc[index,b_size] = 1
    dummy_df.loc[index,row.PUMA] = 1
dummy_df['Intercept'] = 1

In [11]:
# multiply dummy variables with coefficient and apply e/(1+e) function
dummy_df.multiply(logit_params).sum(axis=1).apply(lambda x : np.divide(np.exp(x),1+np.exp(x)))
# no new objected created

0         0.557139
1         0.557139
2         0.557139
3         0.557139
4         0.557139
5         0.557139
6         0.557139
7         0.557139
8         0.557139
9         0.557139
10        0.557139
11        0.557139
12        0.557139
13        0.557139
14        0.557139
15        0.557139
16        0.557139
17        0.557139
18        0.557139
19        0.557139
20        0.557139
21        0.557139
22        0.557139
23        0.557139
24        0.557139
25        0.557139
26        0.557139
27        0.557139
28        0.557139
29        0.557139
            ...
161418    0.387584
161419    0.560809
161420    0.733556
161421    0.592532
161422    0.592532
161423    0.592532
161424    0.776461
161425    0.686679
161426    0.737096
161427    0.737096
161428    0.737096
161429    0.737096
161430    0.649988
161431    0.592532
161432    0.592532
161433    0.615081
161434    0.801913
161435    0.801913
161436    0.801913
161437    0.801913
161438    0.801913
161439    0.801913
161440    0.615081
161441    0.553472
161442    0.553472
161443    0.553472
161444    0.553472
161445    0.760128
161446    0.760128
161447    0.760128
dtype: float64

In [12]:
# for example, show me the BBLs where probability of a low-income household is above 90%
matched2014_rents[dummy_df.multiply(logit_params).sum(axis=1).apply(lambda x : np.divide(np.exp(x),1+np.exp(x)))>.9]

,ZIP_CODE,SALE_DATE,SALE_YEAR,PRICE_BINS,TAX_CLASS_AT_PRESENT,APARTMENT_NUMBER,TAX_CLASS_AT_TIME_OF_SALE,SALE_PRICE,SALE_PRICE_UNIT,BBL,...,FINCP_MEAN,FINCP_MEDIAN,GRPIP_MEAN,GRPIP_MEDIAN,RNTP_MEAN,RNTP_MEDIAN,TAXP_MEAN,TAXP_MEDIAN,TEN_MEAN,TEN_MEDIAN
54324,10474,2008-05-27,2008,7,2,NaN,2,1595000,79750,2027620095,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54325,10474,2013-07-29,2013,7,2,NaN,2,1976500,98825,2027620095,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54326,10455,2008-04-30,2008,6,2,NaN,2,1225000,61250,2023640022,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54327,10455,2008-12-16,2008,7,2,NaN,2,2000000,74074,2023740078,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54328,10455,2008-03-05,2008,8,2,NaN,2,3050000,70930,2026240080,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54329,10455,2008-06-16,2008,7,2,NaN,2,1675000,59821,2026760038,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54330,10455,2008-07-10,2008,8,2,NaN,2,5100000,188889,2026840060,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54331,10454,2008-02-25,2008,7,2,NaN,2,2550000,127500,2022650025,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54332,10451,2009-09-15,2009,7,2,NaN,2,1550000,59615,2024050009,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54333,10455,2009-12-17,2009,10,2,NaN,2,11443407,279107,2026430047,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54334,10455,2009-04-28,2009,6,2,NaN,2,1250000,59524,2026870008,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54335,10455,2009-06-30,2009,7,2,NaN,2,2800000,93333,2025800018,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54336,10454,2009-04-02,2009,6,2,NaN,2,1225000,61250,2022810035,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54337,10451,2010-09-10,2010,1,2,NaN,2,178000,8900,2023310007,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54338,10451,2014-04-07,2014,7,2,NaN,2,2760000,138000,2023310007,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54339,10455,2010-06-25,2010,8,2,NaN,2,4828915,142027,2026530053,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54340,10459,2010-02-25,2010,7,2,NaN,2,1915000,59844,2027510036,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54341,10459,2013-12-16,2013,8,2,NaN,2,3055000,95469,2027510036,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54342,10451,2011-04-11,2011,8,2,NaN,2,3550000,80682,2024110142,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54343,10455,2011-01-14,2011,6,2,NaN,2,1350000,71053,2022750022,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54344,10459,2011-12-22,2011,8,2,NaN,2,4175000,101829,2027030050,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54345,10454,2011-12-13,2011,7,2,NaN,2,2000000,100000,2022800010,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54346,10474,2012-07-06,2012,8,2,NaN,2,3757916,76692,2027630233,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54347,10474,2013-08-19,2013,8,2,NaN,2,3700000,75510,2027630233,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54348,10455,2012-09-19,2012,8,2,NaN,2,4330000,90208,2026230049,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54349,10455,2014-06-25,2014,8,2,NaN,2,5200000,108333,2026230049,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54350,10455,2012-12-05,2012,8,2,NaN,2,3500000,81395,2026240082,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54351,10455,2012-08-09,2012,8,2,NaN,2,3300000,76744,2026740027,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54352,10455,2012-02-08,2012,7,2,NaN,2,3000000,62500,2026230147,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
54353,10455,2012-06-28,2012,10,2,NaN,2,14624062,317914,2027070074,...,32128.666667,30600,56.536585,50,818.292683,810,1,1,3.000000,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54579,10459,2013-10-04,2013,6,2,NaN,2,1225000,76562,2027110005,...,56727.272727,41600,46.294118,36,1191.111111,1150,1,1,2.888889,3
54580,10459,2013-08-30,2013,7,NaN,NaN,2,2475000,309375,2027240157,...,56727.272727,41600,46.294118,36,1191.111111,1150,1,1,2.888889,3
54581,10454,2013-10-04,2013,6,2,NaN,2,1092065,84005,2025460140,...,56727.272727,41600,46.294118,36,1191.111111,1150,1,1,2.888889,3
54582,10454,2013-01-31,2013,4,2,NaN,2,800000,61538,2025460140,...,56727.272727,41600,46.294118,36,1191.111111,1150,1,1,2.888889,3
54583,10455,2014-01-07,2014,3,2,NaN,2,565000,47083,2026230213,...,56727.272727,41600,46.294118,36,1191.111111,1150,1,1,2.888889,3
54584,10459,2014-09-15,2014,5,2,NaN,2,920000,83636,2026930020,...,56727.272727,41600,46.294118,36,1191.111111,1150,1,1,2.888889,3
54585,10459,2014-01-23,2014,4,2,NaN,2,800000,72727,2026930020,...,56727.272727,41600,46.294118,36,1191.111111,1150,1,1,2.888889,3
54586,10459,2014-03-13,2014,5,NaN,NaN,2,950000,95000,2027570039,...,56727.272727,41600,46.294118,36,1191.111111,1150,1,1,2.888889,3
54587,10454,2014-04-11,2014,5,NaN,NaN,2,925000,115625,2022820015,...,56727.272727,41600,46.294118,36,1191.111111,1150,1,1,2.888889,3
54588,10454,2014-04-10,2014,6,2,NaN,2,1430000,79444,2023010023,...,56727.272727,41600,46.294118,36,1191.111111,1150,1,1,2.888889,3
54589,10454,2014-01-08,2014,6,NaN,NaN,2,1133275,141659,2023010043,...,56727.272727,41600,46.294118,36,1191.111111,1150,1,1,2.888889,3
159024,10474,2010-11-24,2010,6,2,NaN,2,1300000,23214,2027650219,...,25475.000000,18950,47.592593,37,661.428571,605,NaN,NaN,3.034483,3
159025,10455,2010-05-26,2010,8,2,NaN,2,4150600,63855,2025770038,...,25475.000000,18950,47.592593,37,661.428571,605,NaN,NaN,3.034483,3
159026,10455,2011-03-29,2011,8,2,NaN,2,4500000,69231,2026030001,...,25475.000000,18950,47.592593,37,661.428571,605,NaN,NaN,3.034483,3
159027,10455,2011-06-29,2011,4,2,NaN,2,800000,13333,2026740021,...,25475.000000,18950,47.592593,37,661.428571,605,NaN,NaN,3.034483,3
159028,10459,2011-06-16,2011,8,2,NaN,2,5150000,99038,2027430030,...,25475.000000,18950,47.592593,37,661.428571,605,NaN,NaN,3.034483,3
159029,10459,2012-08-02,2012,8,2,NaN,2,5800000,111538,2027430030,...,25475.000000,18950,47.592593,37,661.428571,605,NaN,NaN,3.034483,3
159030,10474,2012-03-12,2012,8,2,NaN,2,5340000,93684,2027610142,...,25475.000000,18950,47.592593,37,661.428571,605,NaN,NaN,3.034483,3
159031,10455,2012-06-28,2012,10,2,NaN,2,13033375,173778,2026840079,...,25475.000000,18950,47.592593,37,661.428571,605,NaN,NaN,3.034483,3
159032,10455,2012-10-16,2012,8,2,NaN,2,4300000,82692,2025820042,...,25475.000000,18950,47.592593,37,661.428571,605,NaN,NaN,3.034483,3
159033,10459,2012-06-28,2012,9,2,NaN,2,6782243,98293,2026970001,...,25475.000000,18950,47.592593,37,661.428571,605,NaN,NaN,3.034483,3
159034,10459,2012-06-28,2012,7,2,NaN,2,2565000,41371,2027460015,...,25475.000000,18950,47.592593,37,661.428571,605,NaN,NaN,3.034483,3
159035,10455,2013-06-27,2013,10,2,NaN,2,23304710,466094,2027200093,...,25475.000000,18950,47.592593,37,661.428571,605,NaN,NaN,3.034483,3
159036,10455,2013-06-19,2013,10,2,NaN,2,10400000,200000,2025570078,...,25475.000000,18950,47.592593,37,661.428571,605,NaN,NaN,3.034483,3
159037,10459,2013-06-27,2013,10,2,NaN,2,23870156,542504,2027240101,...,25475.000000,18950,47.592593,37,661.428571,605,NaN,NaN,3.034483,3
159038,10451,2014-04-25,2014,8,2,NaN,2,3025000,59314,2023310072,...,25475.000000,18950,47.592593,37,661.428571,605,NaN,NaN,3.034483,3
159039,10455,2014-01-30,2014,8,2,NaN,2,5000000,102041,2026860001,...,25475.000000,18950,47.592593,37,661.428571,605,NaN,NaN,3.034483,3
159040,10455,2014-03-03,2014,6,2,NaN,2,1228500,21181,2027200030,...,25475.000000,18950,47.592593,37,661.428571,605,NaN,NaN,3.034483,3
159041,10455,2014-03-03,2014,6,2,NaN,2,1228500,21181,2027200030,...,25475.000000,18950,47.592593,37,661.428571,605,NaN,NaN,3.034483,3
160002,10455,2011-10-07,2011,5,NaN,NaN,2,900000,90000,2022740033,...,51150.000000,51150,27.333333,29,700.000000,890,52,52,2.750000,3